<!doctype html>
<html>
<head>
  <title>Shopping.com</title>
  <link rel="stylesheet" type="text/css" href="..\public\index.css">
  <meta charset="UTf=8">
  <meta charset="iso-8859-7">
  <meta charset="description" content="One stop to fullfil all your wishes">
</head>
<body class="background_color">
  <header>
    <h1 class ="heading"> Shopping.com</h1>
    <h4 class ="heading"> Fullfils all wishes</h4>
    <nav class="setup" >
      <a href="product.html" target="_blank" class="styling">view product</a>
      <a href="cart.html" target="_blank" class="styling">cart</a>
      <a href="payment.html" target="_blank" class="styling">payment</a>
      <a href="login.html" target="_blank" class="styling"> logout</a>
    </nav>
  </header>
  <main>
    <span id="setup">
    <ul>
      <li class="dropdown">gender
        <ul class="content">
          <li>male</li>
          <li>female</li>
        </ul>
      </li>
      <li class="dropdown">Size
        <ul class="content">
          <li>small</li>
          <li>medium</li>
          <li>large</li>
        </ul>
      </li>
      <li class="dropdown">category
        <ul class="content">
          <li>tshirt</li>
          <li>pants</li>
          <li>accessories</li>
          <li>shoes</li>
        </ul>
      </li>
    </ul>
  </span>
  <span>
      <table>
        <thead>
          <td>
          <th>product</th>
          <th> description</th>
          <th>price</th>
        </td>
      </thead>
    </table>
  </span>
  </main>
  <footer>
    <p>This page was built to learn web development</p>
    <p>Thankyou for visiting</p>
  </footer>
</body>
</html>
