<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/login.css">
  <title> Shopping.com-login</title>
  <meta charset="utf-8">
  <meta charset="description" content="loginpage">
  </head>
<body class="background_color">
  <header>
    <h1>Shopping.com</h1>
    <h6>Fullfils all wishes</h6>
    </header>
  <main>
    <form class="styling">
      <div><input type="email" class="text_area"/></div>
      <div><input type="password"/></div>
      <input type='button' value='login'/>
    </form>
  </main>
</body>
  </html>
